@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --font0: 'Inter', sans-serif;
    --font1: 'Lexend Deca', sans-serif;

    --color0: hsl(233, 47%, 7%);
    --color1: hsl(244, 38%, 16%);
    --color2: hsl(277, 64%, 61%);
    --color3: hsl(0, 0%, 100%);
    --color4: hsla(0, 0%, 100%, 0.75);
    --color5: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}